LINE_CHANNEL_ACCESS_TOKEN=gDQ2GG1/z+n9nBE7E+RK66axOjFSblkd69By/fM9qAvSKn2dPdbQ8y3fHm9inX/LGbpqZyYhygz9x1+UlgegdIF8krFN/7CMdFiEROszC2t5RyK0XUoJjIylgxyyxw4hSHXciCaoW457o9Ncc/q94wdB04t89/1O/w1cDnyilFU=
LINE_CHANNEL_SECRET=7703a998f0f940bfac829322d77cc2a0
PORT=3000
MQTT_BROKER=mqtt://localhost:1883
LARAVEL_API=htt[://127.0.0.1:8000/api
